<div id="scrambler" class="split right">
    <div class="centered">
    <p id="status"></p>
    <p id="randomstate">
        
        <span class="result"></span>
        <br>
        <div class="row">
           
        <button id="generate button" class="btn btn-primary btn-block clicker"><span>New Scramble</span></button>
        <button id="clear" class="btn btn-primary btn-block" ><a id = "clear" href = "#"><span>Clear Times</span></a></button>
</div>


 <div class="row" style="margin-bottom: 10px;">
        <button onclick="location.href='/stats';" id="statsButton button" class="btn btn-primary btn-block"><a id = "statsButton" href = "/stats"><span>Stats Centre</span></a></button>
        {{!-- hidden form for post request --}}
        <form id="formy" action="/times" method="POST">
            <input id="userTimes" name="times"type="text"> 
            <input id="userAverage" name="average"type="text"> 
            <input id="userBest" name="best"type="text"> 
            <input id="saveTimesBtn button" class="btn btn-primary btn-block" type="submit" value="Save Times" />
        </form>
        </div>
        
    </p>
    
    {{#if success}}
        <h1 id="saved" class="saved">Times Saved!</h1>
    {{/if }}
    </div>
</div>
<div id="container" class="split left">
    <div class="centered">
        <div class="content" ontouchstart="run()">
    <p id="timerHead">Time your solve</p>
    <div id = "scram"></div>
    <div id="timeOut"><span id="min"></span><span id="colon"></span><span id="sec">0</span>.<span id="decimal">00</span></div>
    <div id = "timeList"></div>
    <div id = "stats">
        <span id = "solveNum">Solves: 0</span> <br/>
        <span id = "overallAv">Average: </span><br/>
        <span id = "fastest">Best: </span>
    </div>
    </div>
    </div>
</div>
     
        
   
   