
<p>Welcome to stats</p>

<p>d3 or charts.js chart goes here</p>

<a href="/">Back to solving</a>
<div id="timesSent">
{{#each data}}
    {{solve}},
{{/each }}
</div>


<canvas id="myChart" width="400" height="400"></canvas>
<script>
let times = document.getElementById('timesSent').innerText
console.log(times)
var ctx = document.getElementById("myChart");
let array = [];
 array = times.split(',').map(function(item) { 
 return parseFloat(item, 10);
});

console.log(array)
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["20/8", "21/8", "22/8", "23/8", "24/8", "25/8"],
        datasets: [{
            label: 'Recent Solves',
            data: array,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

