 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/stats">Statistics || </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/stats">Lifetime Solves <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats/2">Session Averages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats/3">Session Bests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats/3">Help</a>
        </li>
      </ul>
    </div>
  </nav>

<h3 class="text-center"><img id="cubeimg" src="/styles/cube.png"/>Currently Viewing: Lifetime Solves</h3>

<p class="text-center">
<a href="/"><i class="fas fa-arrow-left"></i>

Back to solving</a>
</p>
<div id="timesSent">
{{#each data}}
    {{solve}},
{{/each }}
</div>
<div id="solveDates">
{{#each data}}
    {{date}},
{{/each }}
</div>
<div class="chart-container">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
<script>
let times = document.getElementById('timesSent').innerText
var ctx = document.getElementById("myChart");

let array = [];
 array = times.split(',').map(function(item) { 
 return parseFloat(item, 10);
});

let dates = document.getElementById('solveDates').innerText
let dateArray = [];
dateArray = dates.split(',').map(function(item) { 
 return item;
});


var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dateArray,
        datasets: [{
            label: 'Lifetime Solves',
            data: array,
            backgroundColor: [
                'rgba(255, 99, 132, 0.35)',
                'rgba(54, 162, 235, 0.35)',
                'rgba(255, 206, 86, 0.35)',
                'rgba(75, 192, 192, 0.35)',
                'rgba(153, 102, 255, 0.35)',
                'rgba(255, 159, 64, 0.35)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
